$pureWhite: #fff;
$pureBlack: #000;
$dimBlack: #000000cc;
$softgray: #ffffff99;
$transparent: transparent;
$red: #d1002c;
$darkred: #86021e;
$dimGray: #6e6e6e;
$ashGray: #ffffffcc;
$whiteOverlay: #ffffff66;
$frostWhite: #ffffff80;
$steelGray: #a0a0b4;
$lavenderGray: #d9d9e1;
$backgroundGray: #f3f3f3;
$footerGray: #ffffffb3;
$footerDarkgray: #ffffff1a;





